<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <base href="../"> -->
        <base href="http://localhost:3000">
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>AAAb</h1>
        <img src="a.png" alt="">
    </body>
    <script src="reload/reload.js"></script>
</html>
