<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>AAABC</h1>
        <img src="a.png" alt="">
    </body>
    <script src="reload/reload.js"></script>
</html>